<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<!-- HEADER -->
<head th:replace="fragments/admin/header :: header"></head>

<body class="sb-nav-fixed">

<!-- TOPNAV -->
<nav th:replace="fragments/admin/topnav :: topnav"></nav>

<!-- CONTENT -->
<div id="layoutSidenav">

    <!-- SIDENAV -->
    <div th:replace="fragments/admin/sidenav :: sidenav"></div>

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <!--                <h1 class="mt-4 ml-5">Auctions</h1>-->
                <!--                <div class="card mb-4 ml-5">-->
                <!--                    <div class="card-body">-->
                <!--                        This is a list of all auctions in the system.-->
                <!--                    </div>-->
                <!--                </div>-->

                <!--todo check role to show delete(upcoming) and add new buttons-->
                <!--todo https://betterprogramming.pub/spring-security-user-roles-and-thymeleaf-extras-c10113d4ad75-->

                <!-- TITLE & BUTTON -->
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="mt-4 ml-5">Auctions</h2>
                        <div class="card mb-4 ml-5">
                            <div class="card-body" sec:authorize="hasRole('ADMIN')">
                                This is a list of all auctions in the system. If you wish to check the bids please visit the
                                <a th:href="@{/admin/bids}">bids page</a>.
                            </div>
                        </div>

                        <div th:if="${BIDDING_CLOSED != null}" class="alert alert-danger">
                            <strong>Error!</strong> <span th:text="${BIDDING_CLOSED}"></span>
                        </div>

                    </div>
                    <div class="col-md-6 text-right mt-3" sec:authorize="hasRole('ADMIN')">
                        <a th:href="@{admin/auctions/create}">
                            <button class="btn-lg btn-info">New Auction</button>
                        </a>
                    </div>
                </div>

                <hr>

                <div class="card mb-4">
                    <!--                    <div class="card-header">-->
                    <!--                        <i class="fas fa-table mr-1"></i>-->
                    <!--                        DataTable Example-->
                    <!--                    </div>-->
                    <div class="card-body">
                        <div class="table-responsive">


                            <!--
                            ***********************
                            ***     ONGOING   ***
                            ***********************
                            -->

                            <div th:if="${auctions.ongoing == null}">
                                <h3>No ongoing auctions</h3>
                            </div>
                            <div th:unless="${auctions.ongoing == null}" class="table-container">

                                <h3 class="ml-5">Ongoing auctions</h3>

                                <table class="table table-bordered w-auto ml-5" id="dataTable" width="100%"
                                       cellspacing="0">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th>ID</th>
                                        <th>Auction date</th>
                                        <th>Opening time</th>
                                      <!--  <th>End date</th>-->
                                        <th>Closing time</th>
                                        <th>Bond</th>
                                        <th>Bill</th>
                                        <th>Note</th>
                                        <th>Securities</th>
                                        <th sec:authorize="hasRole('USER')">BID</th>
                                    </tr>

                                    </thead>
                                    <tbody>

                                    <tr th:each="auction, itemStat : ${auctions.ongoing}" th:object="${auction}">
                                        <td th:text="*{id}"></td>
                                        <td th:text="*{startDate}"></td>
                                        <td th:text="*{startTime}"></td>
                                        <!-- <td th:text="*{endDate}"></td>-->
                                        <td th:text="*{endTime}"></td>
                                        <td class="text-center">
                                            <span th:if="*{#lists.contains(treasurySecurityTypeList, 'T-Bond')}">&#9989;</span>
                                            <span th:unless="*{#lists.contains(treasurySecurityTypeList, 'T-Bond')}">&#10060;</span>
                                        </td>
                                        <td class="text-center">
                                            <span th:if="*{#lists.contains(treasurySecurityTypeList, 'T-Bill')}">&#9989;</span>
                                            <span th:unless="*{#lists.contains(treasurySecurityTypeList, 'T-Bill')}">&#10060;</span>
                                        </td>
                                        <td class="text-center">
                                            <span th:if="*{#lists.contains(treasurySecurityTypeList, 'T-Note')}">&#9989;</span>
                                            <span th:unless="*{#lists.contains(treasurySecurityTypeList, 'T-Note')}">&#10060;</span>
                                        </td>
                                        <td>
                                            <!-- Button to Open the Modal -->
                                            <button type="button" class="btn btn-outline-info" data-toggle="modal"
                                                    th:data-target="${'#myModal_ongoing_'+__${itemStat.index}__}">
                                                Show
                                            </button>

                                            <!-- The Modal -->
                                            <div class="modal" th:id="${'myModal_ongoing_'+__${itemStat.index}__}">
                                                <div class="modal-dialog modal-lg">
                                                    <div class="modal-content">

                                                        <!-- Modal body -->
                                                        <div class="modal-body">
                                                            <table>
                                                                <thead class="thead-dark">
                                                                <tr>
                                                                    <th>Name</th>
                                                                    <th>Type</th>
                                                                    <th>Total Amount</th>
                                                                    <th>Term</th>
                                                                    <th>Issue Date</th>
                                                                    <th>Maturity Date</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr th:each="security : *{treasurySecurityList}"
                                                                    th:object="${security}">
                                                                    <td th:text="*{securityName}"></td>
                                                                    <td th:text="*{securityType}"></td>
                                                                    <td th:text="*{totalAmount}"></td>
                                                                    <td th:text="*{securityTerm}"></td>
                                                                    <td th:text="*{issueDate}"></td>
                                                                    <td th:text="*{maturityDate}"></td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td sec:authorize="hasRole('USER')">
                                            <a th:href="@{/bids/create(auction_id=${auction.id})}"
                                               class="btn btn-info"
                                               role="button">BID</a>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>

                            <hr>

                            <!--
                            ***********************
                            ***      UPCOMING   ***
                            ***********************
                            -->

                            <div th:if="${auctions.upcoming == null}">
                                <h3>No upcoming auctions</h3>
                            </div>
                            <div th:unless="${auctions.upcoming == null}" class="table-container">

                                <h3 class="ml-5">Upcoming auctions</h3>

                                <table class="table table-bordered w-auto ml-5" id="dataTable" width="100%"
                                       cellspacing="0">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th>ID</th>
                                        <th>Auction date</th>
                                        <th>Opening time</th>
                                        <!--  <th>End date</th>-->
                                         <th>Closing time</th>
                                         <th>Bond</th>
                                         <th>Bill</th>
                                         <th>Note</th>
                                         <th>Securities</th>
                                         <th sec:authorize="hasRole('ADMIN')">Delete</th>
                                     </tr>
                                     </thead>
                                     <tbody>
                                     <tr th:each="auction, itemStat : ${auctions.upcoming}" th:object="${auction}">
                                         <td th:text="*{id}"></td>
                                         <td th:text="*{startDate}"></td>
                                         <td th:text="*{startTime}"></td>
                                         <!-- <td th:text="*{endDate}"></td>-->
                                         <td th:text="*{endTime}"></td>
                                         <td class="text-center">
                                             <span th:if="*{#lists.contains(treasurySecurityTypeList, 'T-Bond')}">&#9989;</span>
                                             <span th:unless="*{#lists.contains(treasurySecurityTypeList, 'T-Bond')}">&#10060;</span>
                                         </td>
                                         <td class="text-center">
                                             <span th:if="*{#lists.contains(treasurySecurityTypeList, 'T-Bill')}">&#9989;</span>
                                             <span th:unless="*{#lists.contains(treasurySecurityTypeList, 'T-Bill')}">&#10060;</span>
                                         </td>
                                         <td class="text-center">
                                             <span th:if="*{#lists.contains(treasurySecurityTypeList, 'T-Note')}">&#9989;</span>
                                             <span th:unless="*{#lists.contains(treasurySecurityTypeList, 'T-Note')}">&#10060;</span>
                                         </td>
                                         <td>
                                             <!-- Button to Open the Modal -->
                                            <button type="button" class="btn btn-outline-info" data-toggle="modal"
                                                    th:data-target="${'#myModal_upcoming_'+__${itemStat.index}__}">
                                                Show
                                            </button>

                                            <!-- The Modal -->
                                            <div class="modal" th:id="${'myModal_upcoming_'+__${itemStat.index}__}">
                                                <div class="modal-dialog modal-lg">
                                                    <div class="modal-content">

                                                        <!-- Modal body -->
                                                        <div class="modal-body">
                                                            <table>
                                                                <thead class="thead-dark">
                                                                <tr>
                                                                    <th>Name</th>
                                                                    <th>Type</th>
                                                                    <th>Total Amount</th>
                                                                    <th>Term</th>
                                                                    <th>Issue Date</th>
                                                                    <th>Maturity Date</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr th:each="security : *{treasurySecurityList}"
                                                                    th:object="${security}">
                                                                    <td th:text="*{securityName}"></td>
                                                                    <td th:text="*{securityType}"></td>
                                                                    <td th:text="*{totalAmount}"></td>
                                                                    <td th:text="*{securityTerm}"></td>
                                                                    <td th:text="*{issueDate}"></td>
                                                                    <td th:text="*{maturityDate}"></td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td sec:authorize="hasRole('ADMIN')">
                                            <form th:action="@{/auctions/disable}" method="post">
                                                <input type="hidden" name="id" th:value="*{id}">
                                                <input type="submit" class="btn btn-outline-danger sa_click_twoButtons"
                                                       value="Delete">
                                            </form>
                                        </td>

                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <hr>

                            <!--
                            ***********************
                            ***      FINISHED   ***
                            ***********************
                            -->

                            <div th:if="${auctions.finished == null}">
                                <h3>No finished auctions</h3>
                            </div>
                            <div th:unless="${auctions.finished == null}" class="table-container">

                                <h3 class="ml-5">Finished auctions</h3>

                                <table class="table table-bordered w-auto ml-5" id="dataTable" width="100%"
                                       cellspacing="0">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th>ID</th>
                                        <th>Auction date</th>
                                        <!--   <th>End date</th>-->
                                          <th>Bond</th>
                                          <th>Bill</th>
                                          <th>Note</th>
                                          <th>Securities</th>
                                          <th>Process</th>
                                          <!-- <th sec:authorize="hasRole('ADMIN')">Process</th> -->
                                      </tr>
                                      </thead>
                                      <tbody>
                                      <tr th:each="auction, itemStat : ${auctions.finished}" th:object="${auction}">
                                          <td th:text="*{id}"></td>
                                          <td th:text="*{startDate}"></td>
                                          <!--   <td th:text="*{endDate}"></td> -->
                                            <td class="text-center">
                                                <span th:if="*{#lists.contains(treasurySecurityTypeList, 'T-Bond')}">&#9989;</span>
                                                <span th:unless="*{#lists.contains(treasurySecurityTypeList, 'T-Bond')}">&#10060;</span>
                                            </td>
                                            <td class="text-center">
                                                <span th:if="*{#lists.contains(treasurySecurityTypeList, 'T-Bill')}">&#9989;</span>
                                                <span th:unless="*{#lists.contains(treasurySecurityTypeList, 'T-Bill')}">&#10060;</span>
                                            </td>
                                            <td class="text-center">
                                                <span th:if="*{#lists.contains(treasurySecurityTypeList, 'T-Note')}">&#9989;</span>
                                                <span th:unless="*{#lists.contains(treasurySecurityTypeList, 'T-Note')}">&#10060;</span>
                                            </td>
                                            <td>
                                                <!-- Button to Open the Modal -->
                                            <button type="button" class="btn btn-outline-info" data-toggle="modal"
                                                    th:data-target="${'#myModal_finished_'+__${itemStat.index}__}">
                                                Show
                                            </button>

                                            <!-- The Modal -->
                                            <div class="modal" th:id="${'myModal_finished_'+__${itemStat.index}__}">
                                                <div class="modal-dialog modal-lg">
                                                    <div class="modal-content">

                                                        <!-- Modal body -->
                                                        <div class="modal-body">
                                                            <table>
                                                                <thead class="thead-dark">
                                                                <tr>
                                                                    <th>Name</th>
                                                                    <th>Type</th>
                                                                    <th>Total Amount</th>
                                                                    <th>Term</th>
                                                                    <th>Issue Date</th>
                                                                    <th>Maturity Date</th>
                                                                    <th>High Rate</th>

                                                                </tr>

                                                                </thead>
                                                                <tbody>
                                                                <tr th:each="security : *{treasurySecurityList}"
                                                                    th:object="${security}">
                                                                    <td th:text="*{securityName}"></td>
                                                                    <td th:text="*{securityType}"></td>
                                                                    <td th:text="*{totalAmount}"></td>
                                                                    <td th:text="*{securityTerm}"></td>
                                                                    <td th:text="*{issueDate}"></td>
                                                                    <td th:text="*{maturityDate}"></td>
                                                                    <td th:text="*{highRate}"></td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td th:if="*{isProcessed}" th:text="processed"></td>
                                        <td th:unless="*{isProcessed}" sec:authorize="hasRole('ADMIN')">
                                            <form th:action="@{/auctions/process}" method="post">
                                                <input type="hidden" name="id" th:value="*{id}">
                                                <input type="submit" class="btn btn-info sa_click_twoButtons"
                                                       value="Process">
                                            </form>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer th:replace="fragments/admin/footer :: footer"></footer>
    </div>
</div>

<!-- FOOTER -->
<div th:replace="fragments/admin/scripts :: scripts"></div>

</body>
</html>