<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- HEADER -->
<head th:replace="fragments/admin/header :: header"></head>

<body>

<!-- TOPNAV -->
<nav th:replace="fragments/admin/topnav :: topnav"></nav>

<!-- CONTENT -->
<div class="container-fluid">
    <div class="row">

        <!-- SIDENAV -->
        <div class="col-md-2">
            <ul th:replace="fragments/admin/sidenav :: sidenav"></ul>
        </div>

        <!-- CONTENT -->
        <div class="col-md-10">

            <h3>Auction details</h3>

            <table class="table">
                <thead>
                <tr>
                    <th>id</th>
                    <th>start_date</th>
                    <th>end_date</th>
                </tr>
                </thead>
                <tr>
                    <td th:text="${auction.id}"></td>
                    <td th:text="${auction.startDate} + ' ' + ${auction.startTime}"></td>
                    <td th:text="${auction.endDate} + ' ' + ${auction.endTime}"></td>
                </tr>
            </table>

            <h3>Create new bid</h3>

            <form th:action="@{/admin/bids/store}" method="post">
                <div class="form-group">
                    <label for="treasurySecurity">Securities for the auction, select ONE</label>
                    <select class="form-control" id="treasurySecurity" name="treasurySecurity">
                        <option th:each="treasurySecurity: ${auction.treasurySecurityList}"
                                th:value="${treasurySecurity.id}"
                                th:text="${treasurySecurity.securityName}">
                        </option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="isCompetitive">Select type:</label>
                    <select class="form-control" id="isCompetitive" name="isCompetitive">
                        <option th:value="0" th:text="Noncompetitive"></option>
                        <option th:value="1" th:text="Competitive"></option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="amount">Amount:</label>
                    <input type="number" class="form-control" id="amount" name="amount">

                    <div th:if="${AMOUNT_POSITIVE != null}">
                        <p th:text="${AMOUNT_POSITIVE}" style="color: red;"></p>
                    </div>
                    <div th:if="${AMOUNT_HUNDRED != null}">
                        <p th:text="${AMOUNT_HUNDRED}" style="color: red;"></p>
                    </div>
                    <div th:if="${AMOUNT_COMPETITIVE != null}">
                        <p th:text="${AMOUNT_COMPETITIVE}" style="color: red;"></p>
                    </div>
                    <div th:if="${AMOUNT_NONCOMPETITIVE != null}">
                        <p th:text="${AMOUNT_NONCOMPETITIVE}" style="color: red;"></p>
                    </div>
                </div>

                <div class="form-group">
                    <label for="rate">Rate:</label>
                    <input type="number" step="0.1" class="form-control" id="rate" name="rate">

                    <div th:if="${RATE_RANGE != null}">
                        <p th:text="${RATE_RANGE}" style="color: red;"></p>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
    </div>
</div>

<!-- FOOTER -->
<footer th:replace="fragments/admin/footer :: footer"></footer>

</body>
</html>