<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<!-- HEADER -->
<head th:replace="fragments/admin/header :: header"></head>

<body class="sb-nav-fixed">

<!-- TOPNAV -->
<nav th:replace="fragments/admin/topnav :: topnav"></nav>

<!-- CONTENT -->
<div id="layoutSidenav">

    <!-- SIDENAV -->
    <div th:replace="fragments/admin/sidenav :: sidenav"></div>

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4 ml-5">Create auction</h1>
                <div class="card mb-4 ml-5">
                    <div class="card-body">
                        This is a page where you can create a new auction.
                    </div>
                </div>

                <div class="card mb-4">
                    <!--                    <div class="card-header">-->
                    <!--                        <i class="fas fa-table mr-1"></i>-->
                    <!--                        DataTable Example-->
                    <!--                    </div>-->
                    <div class="card-body">
                        <div class="table-responsive">

                            <!-- *********************** -->
                            <!-- AUCTIONS TIMES -->
                            <!-- *********************** -->

                            <div class="ml-5">
                                <form class="form-inline">
                                    <label for="auctionStartDate" class="mr-2">Start date: </label>
                                    <input type="date" class="form-control" id="auctionStartDate"
                                           name="auctionStartDateFormat"
                                           form="create-auction" required>
                                    <!--th:value="${auctionTime.auctionStartDateFormat != null ? auctionTime.auctionStartDateFormat : ''}"-->
                                    <label for="auctionStartTime" class="mr-2 ml-2">Start time: </label>
                                    <input type="time" class="form-control" id="auctionStartTime"
                                           name="auctionStartTime"
                                           form="create-auction"
                                           required>
                                    <label for="auctionEndTime" class="mr-2 ml-2">End time: </label>
                                    <input type="time" class="form-control" id="auctionEndTime" name="auctionEndTime"
                                           form="create-auction"
                                           required>
                                </form>

                                <div th:if="${INVALID_AUCTION != null}">
                                    <p th:text="${INVALID_AUCTION}" style="color: #a42222;"></p>
                                </div>

                            </div>

                            <!-- *********************** -->
                            <!-- ADD SECURITY -->
                            <!-- *********************** -->
                            <hr><br>
                            <div class="ml-5 mb-2">
                                <form action="/admin/auctions/add-security" method="post" id="addSecurityForm"
                                      class="form-inline">

                                    <select id="slct1"
                                            name="securityType"
                                            form="addSecurityForm"
                                            class="form-control mr-2"
                                            onchange="populate(this.id, 'slct2')">
                                        <option th:value="${errorSecurityValue != null} ? ${errorSecurityValue.securityType} : 'none'"
                                                selected disabled hidden
                                                th:text="${errorSecurityValue != null} ? ${errorSecurityValue.securityType} : 'Select security'">
                                        </option>
                                        <option value="T-Bill">T-Bill</option>
                                        <option value="T-Note">T-Note</option>
                                        <option value="T-Bond">T-Bond</option>
                                    </select>

                                    <select id="slct2" name="securityTerm" form="addSecurityForm"
                                            class="form-control mr-2">
                                        <option th:value="${errorSecurityValue != null} ? ${errorSecurityValue.securityTerm} : 'none'"
                                                selected disabled hidden
                                                th:text="${errorSecurityValue != null} ? ${errorSecurityValue.securityTerm} : 'Select term'">
                                        </option>
                                    </select>

                                    <div class="input-group">
                                        <input type="number"
                                               name="totalAmount"
                                               form="addSecurityForm"
                                               class="form-control"
                                               required
                                               th:value="${errorSecurityValue != null} ? ${errorSecurityValue.totalAmount} : '0'">
                                        <div class="input-group-append">
                                            <span class="input-group-text" th:text="${currency}"></span>
                                        </div>
                                    </div>

                                    <label for="issueDate" class="ml-2 mr-2">Issue date: </label>
                                    <input type="date"
                                           id="issueDate"
                                           name="issueDate"
                                           class="form-control mr-2"
                                           form="addSecurityForm">

                                    <!--th:value="${errorSecurityValue != null} ? ${#temporals.formatISO(errorSecurityValue.issueDate)} : ''"-->

                                    <button type="submit" form="addSecurityForm" class="btn btn-info">
                                        Add
                                    </button>

                                </form>

                                <p th:if="${INVALID_SECURITY_ERROR != null}"
                                   th:text="${INVALID_SECURITY_ERROR}" style="color: red;"></p>
                                <p th:if="${SECURITY_TERM_ERROR != null}"
                                   th:text="${SECURITY_TERM_ERROR}" style="color: red;"></p>
                                <p th:if="${TOTALAMOUNT_ERROR != null}"
                                   th:text="${TOTALAMOUNT_ERROR}"
                                   style="color: red;"></p>
                                <p th:if="${ISSUE_DATE_ERROR != null}" th:text="${ISSUE_DATE_ERROR}"
                                   style="color: red;"></p>
                            </div> <br>

                            <!-- *********************** -->
                            <!-- LISTING ADDED SECURITIES -->
                            <!-- *********************** -->

                            <table class="table table-bordered w-auto ml-5" id="dataTable" width="100%"
                                   cellspacing="0">

                                <tr class="thead-dark">
                                    <th>Security type</th>
                                    <th>Security term</th>
                                    <th>Offering amount</th>
                                    <th>Issue Date</th>
                                    <th>Maturity Date</th>
                                    <th>Remove</th>
                                </tr>
                                <tr th:each="security : ${newAuction.treasurySecurityList}" th:object="${security}">
                                    <td th:text="*{securityType}"></td>
                                    <td th:text="*{securityTerm}"></td>
                                    <td th:text="*{totalAmount}"></td>
                                    <td th:text="*{issueDate}"></td>
                                    <td th:text="*{maturityDate}"></td>
                                    <td>
                                        <form th:action="'/admin/auctions/remove-security/' + *{securityTerm} + '_' + *{securityType}"
                                              method="post">
                                            <button type="submit" class="btn btn-outline-danger">Remove</button>
                                        </form>
                                    </td>
                                </tr>
                            </table> <br>

                            <!-- *********************** -->
                            <!-- CREATE AUCTION -->
                            <!-- *********************** -->

                            <div class="ml-5">

                                <label for="setBots">Set number of bidder bots for this auction:</label>
                                <input id="setBots" type="number" name="numberOfBots" form="create-auction" value="0" class="form-control w-25"><br>

                                <form action="/admin/auctions/create" method="post" id="create-auction">
                                    <button type="submit" class="btn btn-info btn-lg sa_create_auction_confirmation">Create
                                        Auction
                                    </button>
                                </form>
                                <form hidden action="/admin/auctions/cancel-creation" method="post"
                                      id="cancel-auction-creation">
                                    <button hidden type="submit" class="btn btn-dark btn-lg sa_create_auction_confirmation">
                                        Delete Auction
                                    </button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer th:replace="fragments/admin/footer :: footer"></footer>

    </div>
</div>

<!-- FOOTER -->
<div th:replace="fragments/admin/scripts :: scripts"></div>

</body>
</html>