<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create auction</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<h2>Create auction</h2>
    <div>
        <form action="/admin/auctions/set-time" method="post" id="create-auction">
            <label for="auctionStart">Start: </label>
            <input type="datetime-local" id="auctionStart" name="auctionStartDate" required>
            <label for="auctionEnd">End: </label>
            <input type="datetime-local" id="auctionEnd" name="auctionEndDate" required>

        </form>
        <div th:if="${INVALID_AUCTION != null}">
            <p th:text="${INVALID_AUCTION}" style="color: red;"></p>
        </div>
    </div>
        <table>
            <tr>
                <th>Security type</th>
                <th>Security term</th>
                <th>Total amount</th>
                <th>Issue Date</th>
                <th>Maturity Date</th>
            </tr>
            <tr th:each="security : *{treasurySecurityList}" th:object="${newAuction}">
                <td th:text="*{securityType}"></td>
                <td th:text="*{securityTerm}"></td>
                <td th:text="*{totalAmount}"></td>
                <td th:text="*{issueDate}"></td>
                <td th:text="*{maturityDate}"></td>
                <td><span th:if="*{securityType != null}"><a th:href="'/admin/auctions/delete-security/' + *{securityTerm} + '_' + *{securityType}" class="btn btn-primary">Delete</a></span></td>
            </tr>
        </table>
    <div>
        <form action="/admin/auctions/add-security" method="post" id="addSecurityForm"></form>
        <table>
            <tr>
                <td></td>
                <td></td>
                <td><input type="number" name="totalAmount" form="addSecurityForm"></td>
                <td><input type="datetime-local" name="issueDate" form="addSecurityForm"></td>
                <td><button type="submit" form="addSecurityForm" class="btn btn-primary">Save</button></td>
            </tr>
            <tr>
                <td><span th:if="${INVALID_SECURITY_ERROR != null}" th:text="${INVALID_SECURITY_ERROR}" style="color: red;"></span></td>
                <td><span th:if="${SECURITY_TERM_ERROR != null}" th:text="${SECURITY_TERM_ERROR}" style="color: red;"></span></td>
                <td><span th:if="${TOTALAMOUNT_ERROR != null}" th:text="${TOTALAMOUNT_ERROR}" style="color: red;"></span></td>
                <td><span th:if="${ISSUE_DATE_ERROR != null}" th:text="${ISSUE_DATE_ERROR}" style="color: red;"></span></td>
            </tr>
        </table>
        <button type="submit" form="create-auction" class="btn btn-primary">Create auction</button>
    </div>
</body>
</html>