<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create auction</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">
        function populate(s1,s2){
            var s1 = document.getElementById(s1)
            var s2 = document.getElementById(s2)
            s2.innerHTML = "";
            if(s1.value == "T-Bill"){
                var optionArray = ["4-week|4-week", "8-week|8-week","13-week|13-week","26-week|26-week","52-week|52-week"];
            } else if (s1.value == "T-Note"){
                var optionArray = ["2-year|2-year", "3-year|3-year","5-year|5-year","7-year|7-year","10-year|10-year"];
            } else {
                var optionArray = ["20-year|20-year", "30-year|30-year"];
            }
            for (var option in optionArray){
                var pair = optionArray[option].split("|")
                var term = document.createElement("option")
                term.value = pair[0]
                term.innerHTML = pair[1]
                s2.options.add(term)
            }
        }
    </script>
</head>
<body>
<h2>Create auction</h2>
    <div>
        <form action="/admin/auctions/set-time" method="post" id="set-time">
            <label for="auctionStart">Start: </label>
            <input type="datetime-local" id="auctionStart" name="auctionStartDate" required>
            <label for="auctionEnd">End: </label>
            <input type="time" id="auctionEnd" name="auctionEndTime" required>
            <button type="submit" form="set-time" class="btn btn-primary">Set date</button>
        </form>
        <div th:if="${INVALID_AUCTION != null}">
            <p th:text="${INVALID_AUCTION}" style="color: red;"></p>
        </div>
    </div>
        <table>
            <tr>
                <th>Security type</th>
                <th>Security term</th>
                <th>Total amount</th>
                <th>Issue Date</th>
                <th>Maturity Date</th>
            </tr>
            <tr th:each="security : ${newAuction.treasurySecurityList}" th:object="${security}">
                <td th:text="*{securityType}"></td>
                <td th:text="*{securityTerm}"></td>
                <td th:text="*{totalAmount}"></td>
                <td th:text="*{issueDate}"></td>
                <td th:text="*{maturityDate}"></td>
                <td><form th:action="'/admin/auctions/remove-security/' + *{securityTerm} + '_' + *{securityType}" method="post"><button type="submit" class="btn btn-primary">Remove</button></form></td>
            </tr>
        </table>
        <div>
            <form action="/admin/auctions/add-security" method="post" id="addSecurityForm"></form>
            <table>
                <tr>
                    <td><select id="slct1" name="securityType" form="addSecurityForm" onchange="populate(this.id, 'slct2')">
                        <option th:value="${errorSecurityValue != null} ? ${errorSecurityValue.securityType} : 'none'" selected disabled hidden th:text="${errorSecurityValue != null} ? ${errorSecurityValue.securityType} : 'Select security'"></option>
                        <option value="T-Bill">T-Bill</option>
                        <option value="T-Note">T-Note</option>
                        <option value="T-Bond">T-Bond</option>
                    </select></td>
                    <td><select id="slct2" name="securityTerm" form="addSecurityForm">
                        <option th:value="${errorSecurityValue != null} ? ${errorSecurityValue.securityTerm} : 'none'" selected disabled hidden th:text="${errorSecurityValue != null} ? ${errorSecurityValue.securityTerm} : 'Select term'"></option>
                    </select></td>
                    <td><input type="number" name="totalAmount" form="addSecurityForm" th:value="${errorSecurityValue != null} ? ${errorSecurityValue.totalAmount} : ''"></td>
                    <td><input type="datetime-local" name="issueDate" form="addSecurityForm" th:value="${errorSecurityValue != null} ? ${#temporals.formatISO(errorSecurityValue.issueDate)} : ''"></td>
                    <td><button type="submit" form="addSecurityForm" class="btn btn-primary">Add</button></td>
                </tr>
                <tr>
                    <td><span th:if="${INVALID_SECURITY_ERROR != null}" th:text="${INVALID_SECURITY_ERROR}" style="color: red;"></span></td>
                    <td><span th:if="${SECURITY_TERM_ERROR != null}" th:text="${SECURITY_TERM_ERROR}" style="color: red;"></span></td>
                    <td><span th:if="${TOTALAMOUNT_ERROR != null}" th:text="${TOTALAMOUNT_ERROR}" style="color: red;"></span></td>
                    <td><span th:if="${ISSUE_DATE_ERROR != null}" th:text="${ISSUE_DATE_ERROR}" style="color: red;"></span></td>
                </tr>
            </table>
            <form action="/admin/auctions/create" method="post"><button type="submit" class="btn btn-primary">Create auction</button></form>
        </div>
</body>
</html>