<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- HEADER -->
<head th:replace="fragments/admin/header :: header"></head>

<body class="sb-nav-fixed">

<!-- TOPNAV -->
<nav th:replace="fragments/admin/topnav :: topnav"></nav>

<!-- CONTENT -->
<div id="layoutSidenav">

    <!-- SIDENAV -->
    <div th:replace="fragments/admin/sidenav :: sidenav"></div>

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4 ml-5">Securities</h1>
                <div class="card mb-4 ml-5">
                    <div class="card-body">
                        This is a list of all securities in the system.
                    </div>
                </div>
                <hr>

                <div class="card mb-4">
                    <!--                    <div class="card-header">-->
                    <!--                        <i class="fas fa-table mr-1"></i>-->
                    <!--                        DataTable Example-->
                    <!--                    </div>-->
                    <div class="card-body">
                        <div class="table-responsive">

                            <!-- ONGOING SORTING FORM -->
                            <form action="/securities" class="form-inline ml-5">
                                <label for="ongoingSortBy" class="mr-2">Sort securities:</label>
                                <select th:name="ongoingSortBy" id="ongoingSortBy" class="form-control mr-2">
                                    <option value="default" disabled selected>Select type</option>
                                    <option value="type">Type</option>
                                    <option value="name">Name</option>
                                    <option value="issueDate">Issue Date</option>
                                    <option value="maturityDate">Maturity Date</option>
                                    <option value="totalAmount">Total Amount</option>
                                </select>
                                <select th:name="ongoingOrder" id="ongoingOrder" class="form-control mr-2">
                                    <option value="null" disabled selected>Select order</option>
                                    <option value="asc">Ascending</option>
                                    <option value="desc">Descending</option>
                                </select>
                                <button type="submit" class="btn btn-info">Sort</button>
                            </form>

                            <!-- ONGOING SORTING TABLE -->
                            <div th:if="${ #lists.isEmpty(ongoing)}">
                                <h3>No ongoing auctions</h3>
                            </div>
                            <div th:unless="${#lists.isEmpty(ongoing)}" class="table-container">

                                <h3 class="ml-5 mt-2">Ongoing Auction Securities</h3>

                                <table class="table table-bordered w-auto ml-5" id="dataTable" width="100%"
                                       cellspacing="0">
                                    <thead class="thead-dark text-center">
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Type</th>
                                        <th>Term</th>
                                        <th>Total Amount</th>
                                        <th>Issue Date</th>
                                        <th>Maturity Date</th>
                                        <th>Bid</th>
                                    </thead>

                                    <tbody>
                                    <tr th:each="security : ${ongoing}" th:object="${security}">
                                        <td th:text="*{id}"></td>
                                        <td th:text="*{securityName}"></td>
                                        <td th:text="*{securityType}"></td>
                                        <td th:text="*{securityTerm}"></td>
                                        <td th:text="*{totalAmount}"></td>
                                        <td th:text="*{issueDate}"></td>
                                        <td th:text="*{maturityDate}"></td>
                                        <td>
                                            <a th:href="@{/bids/create(auction_id=*{auctionId})}"
                                               class="btn btn-info"
                                               role="button">BID</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <br>
                            <hr>

                            <!-- UPCOMING SORTING FORM -->
                            <form action="/securities" class="form-inline ml-5">
                                <label for="upcomingSortBy" class="mr-2">Sort securities:</label>
                                <select th:name="upcomingSortBy" id="upcomingSortBy" class="form-control mr-2">
                                    <option value="default" disabled selected>Select type</option>
                                    <option value="type">Type</option>
                                    <option value="name">Name</option>
                                    <option value="issueDate">Issue Date</option>
                                    <option value="maturityDate">Maturity Date</option>
                                    <option value="totalAmount">Total Amount</option>
                                </select>
                                <select th:name="upcomingOrder" id="upcomingOrder" class="form-control mr-2">
                                    <option value="null" disabled selected>Select order</option>
                                    <option value="asc">Ascending</option>
                                    <option value="desc">Descending</option>
                                </select>
                                <button type="submit" class="btn btn-info">Sort</button>
                            </form>

                            <!-- UPCOMING SORTING TABLE -->
                            <div th:if="${ #lists.isEmpty(upcoming)}">
                                <h4 class="ml-5 mt-2">There are no upcoming auctions.</h4>
                            </div>
                            <div th:unless="${#lists.isEmpty(upcoming)}" class="table-container">

                                <h3 class="ml-5 mt-2">Upcoming Auction Securities</h3>

                                <table class="table table-bordered w-auto ml-5" id="dataTable" width="100%"
                                       cellspacing="0">
                                    <thead class="thead-dark text-center">
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Type</th>
                                        <th>Term</th>
                                        <th>Total Amount</th>
                                        <th>Issue Date</th>
                                        <th>Maturity Date</th>
                                    </thead>

                                    <tbody>
                                    <tr th:each="security : ${upcoming}" th:object="${security}">
                                        <td th:text="*{id}"></td>
                                        <td th:text="*{securityName}"></td>
                                        <td th:text="*{securityType}"></td>
                                        <td th:text="*{securityTerm}"></td>
                                        <td th:text="*{totalAmount}"></td>
                                        <td th:text="*{issueDate}"></td>
                                        <td th:text="*{maturityDate}"></td>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer th:replace="fragments/admin/footer :: footer"></footer>
    </div>
</div>

<!-- FOOTER -->
<div th:replace="fragments/admin/scripts :: scripts"></div>

</body>
</html>