<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
<form action="/securities">
    <select th:name="ongoingSortBy" id="ongoingSort">
        <option value="default" disabled selected>Select sort type</option>
        <option value="type">type</option>
        <option value="name">name</option>
        <option value="issueDate">issue date</option>
        <option value="maturityDate">maturity date</option>
        <option value="totalAmount">total amount</option>
    </select>
    <select th:name="ongoingOrder" id="ongoingOrder">
        <option value="null" disabled selected>Select order</option>
        <option value="asc">ascending</option>
        <option value="desc">descending</option>
    </select>

    <div th:if="${ #lists.isEmpty(ongoing)}">
        <h3>No ongoing auctions</h3>
    </div>
    <div th:unless="${#lists.isEmpty(ongoing)}" class="table-container">

        <h3>Securities of the ongoing auctions</h3>

        <table class="table">
            <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>type</th>
                <th>term</th>
                <th>total amount</th>
                <th>issue date</th>
                <th>maturity date</th>
                <th>BID</th>
            </thead>

            <tbody>
            <tr th:each="security : ${ongoing}" th:object="${security}">
                <td th:text="*{id}"></td>
                <td th:text="*{securityName}"></td>
                <td th:text="*{securityType}"></td>
                <td th:text="*{securityTerm}"></td>
                <td th:text="*{totalAmount}"></td>
                <td th:text="*{issueDate}"></td>
                <td th:text="*{maturityDate}"></td>
                <td>
                </td>
                <td>
                    <a th:href="@{/admin/bids/create(auction_id=*{auctionId})}" class="btn btn-success"
                       role="button">Place BID</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <label for="upcomingSortBy">Sort securities</label>
    <select th:name="upcomingSortBy" id="upcomingSortBy">
        <option value="default" disabled selected>Select sort type</option>
        <option value="type">type</option>
        <option value="name">name</option>
        <option value="issueDate">issue date</option>
        <option value="maturityDate">maturity date</option>
        <option value="totalAmount">total amount</option>
    </select>
    <select th:name="upcomingOrder" id="upcomingOrder">
        <option value="null" disabled selected>Select order</option>
        <option value="asc">ascending</option>
        <option value="desc">descending</option>
    </select>
    <div th:if="${ #lists.isEmpty(upcoming)}">
        <h3>No ongoing auctions</h3>
    </div>
    <div th:unless="${#lists.isEmpty(upcoming)}" class="table-container">

        <h3>Securities of the upcoming auctions</h3>

        <table class="table">
            <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>type</th>
                <th>term</th>
                <th>total amount</th>
                <th>issue date</th>
                <th>maturity date</th>
                <th>BID</th>
            </thead>

            <tbody>
            <tr th:each="security : ${upcoming}" th:object="${security}">
                <td th:text="*{id}"></td>
                <td th:text="*{securityName}"></td>
                <td th:text="*{securityType}"></td>
                <td th:text="*{securityTerm}"></td>
                <td th:text="*{totalAmount}"></td>
                <td th:text="*{issueDate}"></td>
                <td th:text="*{maturityDate}"></td>
                <td>
                </td>
            </tbody>
        </table>
    </div>
    <button type="submit">sort</button>
</form>
</body>
</html>