<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- HEADER -->
<head th:replace="fragments/admin/header :: header"></head>

<body>

<!-- TOPNAV -->
<!--<nav th:replace="fragments/admin/topnav :: topnav"></nav>-->

<!-- CONTENT -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 mt-5">
            <h3 class="text-center text-danger">Unauthorized access (error code: 403)</h3>
            <div class="h-100 d-flex align-items-center justify-content-center">
                <img th:src="@{/images/http-403-forbidden-you-shall-not-pass.jpg}" alt="">
            </div>
        </div>
    </div>
</div>

<!-- FOOTER -->
<!--<div th:replace="fragments/admin/scripts :: scripts"></div>-->

</body>
</html>