<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="../css/profile.css"/>
</head>
<body>
<h1>user profile</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>password</th>
        <th>bids</th>
        <th>institution</th>
        <th>activationToken</th>
        <th>activationTokenExpiration</th>
        <th>reactivationToken</th>
        <th>reactivationTokenExpiration</th>
        <th>isAdmin</th>
        <th>isActivated</th>
        <th>isApproved</th>
        <th>isDisabled</th>
    </tr>
    </thead>
    <tbody>
    <tr th:object="${user}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getUsername()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td th:text="${user.getPassword()}"></td>
        <td th:text="${user.getBids()}"></td>
        <td th:text="${user.getInstitution()}"></td>
        <td th:text="${user.getActivationToken()}"></td>
        <td th:text="${user.getActivationTokenExpiration()}"></td>
        <td th:text="${user.getReactivationToken()}"></td>
        <td th:text="${user.getReactivationTokenExpiration()}"></td>
        <td th:text="${user.isAdmin()}"></td>
        <td th:text="${user.isActivated()}"></td>
        <td th:text="${user.isApproved()}"></td>
        <td th:text="${user.isDisabled()}"></td>
    </tr>
</table>
</body>
</html>