<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="../css/profile.css"/>
</head>
<body>
<h1>user profile</h1>
<ul th:object="${user}">
    <li th:text="'ID: ' + ${user.getId()}"></li>
    <li th:text="'Username: ' + ${user.getUsername()}"></li>
    <li th:text="'Email: ' + ${user.getEmail()}"></li>
    <li th:text="'Password: ' + ${user.getPassword()}"></li>
    <li th:text="'Bids: ' "></li>
    <ul th:each="bid :${bids}" >
        <li th:text="'ID: ' + ${bid.getId()}"></li>
        <li th:text="'Treasury Security: ' + ${bid.getTreasurySecurity()}"></li>
        <li th:text="'User: ' + ${bid.getUser()}"></li>
        <li th:text="'Competitive: ' + ${bid.isCompetitive()}"></li>
        <li th:text="'Amount: ' + ${bid.getAmount()}"></li>
        <li th:text="'Rate: ' + ${bid.getRate()}"></li>
        <li th:text="'Accepted: ' + ${bid.isAccepted()}"></li>
        <li th:text="'Archived: ' + ${bid.isArchived()}"></li>
        <li></li>
    </ul>
    <li th:text="'Institution: ' + ${user.getInstitution()}"></li>
    <li th:text="'Activation Token: ' + ${user.getActivationToken()}"></li>
    <li th:text="'Activation Token Expiration: ' + ${user.getActivationTokenExpiration()}"></li>
    <li th:text="'Reactivation Token: ' + ${user.getReactivationToken()}"></li>
    <li th:text="'Reactivation Token Expiration: ' + ${user.getReactivationTokenExpiration()}"></li>
    <li th:text="'Admin: ' + ${user.isAdmin()}"></li>
    <li th:text="'Activated: ' + ${user.isActivated()}"></li>
    <li th:text="'Approved: ' + ${user.isApproved()}"></li>
    <li th:text="'Disabled: ' + ${user.isDisabled()}"></li>


</ul>

</body>
</html>