<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<!-- HEADER -->
<head th:replace="fragments/home/header :: header"></head>

<body>

<!-- TOPNAV -->
<nav th:replace="fragments/home/topnav :: topnav"></nav>

<!-- CONTENT -->
<div id="reset-error">
    <div class="container">
        <div id="reset-row" class="row justify-content-center align-items-center">
            <div id="reset-column" class="col-md-6">
                <div id="reset-box" class="col-md-12">
                    <h1 th:text="${message}"></h1>

                    <a th:href="@{/login}" class="text-info">Log in</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- FOOTER -->
<footer th:replace="fragments/home/footer :: footer"></footer>

</body>
</html>