<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<!-- HEADER -->
<head th:replace="fragments/home/header :: header"></head>

<body>

<!-- TOPNAV -->
<nav th:replace="fragments/home/topnav :: topnav"></nav>

<!-- CONTENT -->
<div id="login">
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form id="reset-form2" class="form" action="/resetpassword" method="post">
                        <div role="alert" th:text="${error}" th:if="${error}"></div>
                        <h3 class="txt">Request a new password</h3>
                        <div class="form-group">
                            <label for="email" class="text-info">E-mail address:</label><br>
                            <input type="text" name="email" id="email" class="form-control">
                        </div>
                        <input type="submit" name="register" class="btn btn-info btn-md" value="Reset">
                        <div id="login-link" class="text-right">
                            <a th:href="@{/login}" class="text-info">Log in instead</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- FOOTER -->
<footer th:replace="fragments/home/footer :: footer"></footer>

</body>
</html>