<nav class="navbar navbar-expand-md bg-dark navbar-dark" th:fragment="topnav">
    <a class="navbar-brand" th:href="@{/login}">TREASURY AUCTION SYSTEM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/login}">LOGIN</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/register}">REGISTER</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://communityauctions.com/online-auction-terms-conditions/">TERMS &
                    CONDITIONS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="mailto:mightyroosterteam@gmail.com">CONTACT US</a>
            </li>
        </ul>
    </div>
</nav>