/* container login*/
#auth .container #auth-row #auth-column #auth-box {
    margin-top: 80px;
    max-width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.28);
    background-color: #EAEAEA;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.14);
    padding: 20px;
}
/* padding for the form */
#auth .container #auth-row #auth-column #auth-box #auth-form {
    padding: 20px;
}

/* white color for the labels */
.text-info1 {
    color: white;
}

