* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #255f69;
    height: 100vh;
    background-image: url("https://i.ibb.co/SrCctyB/111.jpg");
    background-size: cover;
}